body{
    /* font-family: 'Playfair Display', serif;
    font-family: 'Source Code Pro', monospace; */
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
  }


body{
  color:red;
  background-color:black;
}

  
  .spinnerContainer{
    display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
  }
  .spinner{
        
        padding: 20px;
        max-width: 80%;
        text-align: center;
  }