.swiper-button-prev:after,
.swiper-button-next:after {
  color: white
}



.mySwiper {
  position: relative;
  width: 100%;
  height: 100vh;
}


.mySwiper .swiper-slide {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mySwiper .swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


.text-container {
  position: absolute;
  color: white;
  padding: 20px;
  text-align: center;
  max-width: 80%;
  text-align: start;
  left: 200px;

}

.text-container2 {
  position: absolute;
  color: white;
  padding: 20px;
  text-align: center;
  max-width: 80%;
  text-align: start;
  right: 200px;

}

.text-container3 {
  position: absolute;
  color: white;
  padding: 20px;
  text-align: center;
  max-width: 80%;
  text-align: start;
  left: 200px;

}

.buy-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.watchName {
  font-size: 75px;
  font-family: 'Playfair Display', serif;

}

.watchDiscount {
  color: #CCA471;
  font-family: 'Source Sans Pro', sans-serif;
}

.watchDescription {
  color: gray;
  font-family: 'Source Sans Pro', sans-serif;
}

.watchPrice {
  color: #CCA471;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;

}

.buyButton {
  width: 13rem;
  height: 2.5rem;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  color: black;
  background-image: linear-gradient(to top, #343435 50%, #CCA471 50%);
  background-size: 100% 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-position 0.3s ease-in-out;
}

.buyButton:hover {
  background-position: 0 100%;
  color: white;
}


/* Media Queries ==========> */

/* Media query for screens up to 768px */
@media (max-width: 768px) {

  .text-container,
  .text-container2,
  .text-container3 {
    text-align: center;
    left: 0;
    right: 0;
  }

  .buy-button {
    font-size: 14px;
    margin-top: 5px;
  }

  .watchName {
    font-size: 50px;
  }

  .watchPrice {
    font-size: 28px;
  }

  .buyButton {
    width: 10rem;
    height: 2rem;
  }
}